
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
html {
    background: #ddd;
    height: 100%;
    display: flex;
}
body {
    width:100%;
    margin: auto;
}

.App{
    font-family: sans-serif;
    text-align: center;
}
.todo-List{
    background: #fff;
    font-size: 15px;
    max-width: 300px;
    margin: auto;
    margin-bottom: 20px;
    padding: 8px 16px;
    box-shadow: 0 5px 30px rgba(0,0,0,0.2);
}

button{
    outline: none;
    padding: 8px;
    font-size: 15px;
    border: 0px solid;
    border-radius: 5px;
    color: white;
}

button:hover{
    background: #166b72;
}

.button[disabled]{
    opacity: 0.3;
}

.pink{
    background: #e95678;
}

.blue{
    background: #25b0bc;
}

.file-input{
    padding: 2px;
    background: #f8f8f8;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.file-input > .text{
    outline: none;
    padding: 0px 10px;
    font-size: 15px;
    width: 230px;
    height: 46px;
    background:transparent;
    border: 0px solid;
}

.todo {
    display: block;
    position: relative;
    padding: 1em 1em 1em 16%;
    margin: 0 auto;
    cursor: pointer; 
    border-bottom: solid 1px #ddd; 
  }
  
  .todo:last-child{
    border-bottom: none; 
  }

  .todo.new-item {
    /* opacity: 0; */
    transform: translateX(100px);
    animation: fadeIn .3s linear forwards; 
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  } 
  
   .todo__state {
    position: absolute;
    top: 10;
    left: 0;
   /* opacity: 0;*/
  } 
  
  .todo__text {
    color: #076b74;
    text-align: left;
    transition: all 0.4s/2 linear 0.4s/2;
  } 